<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
    <style>
        .answered {
            background-color: #e0e0e0; /* light gray */
        }
    </style>
</head>
<body>

<h1>Results</h1>
<div th:each = "view,iterStat : ${questionViews}"
     class="question"
>

    <div th:classappend="'answer'+(view.answered ? 'answered ' : '') + (view.bookmarked ? 'bookmarked' : '')">
        <a th:href="@{/quiz/{quizId}/{questionIndex}(quizId=${quiz.id}, questionIndex=${iterStat.index})}">
            <p th:text="${iterStat.index+1}"></p>
        </a>
        <p th:text="${view}"></p>
    </div>
</div>

</body>
</html>
